/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  margin-top: -16px;
  font-family: 'ヒラギノ丸ゴ ProN W4 11.0d2e1', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 10pt;
}
@font-face {
  font-family: 'Hannari';
  src: url("Hannari.otf");
}
#github, .github {
  width: 32px;
  height: 32px;
  display: block;
  fill: palegoldenrod;
}
input {
  font-family: 'Hannari';
  outline-style: none;
}
ul, li {
  list-style: none;
}
img {
  border-radius: 34px;
}
.container {
  position: relative;
  padding-bottom: 20px;
}
