.img {
  width: 150px;
  height: 150px;
  &.-fade-top {
    display: block;
    opacity: 1;
    animation-duration: 20s;
    animation-name: fade-top;
    -moz-animation-duration: 20s;
    -moz-animation-name: fade-top;
    -webkit-animation-duration: 20s;
    -webkit-animation-name: fade-top;
    animation-iteration-count: infinite;
  }
  &.-fade-middle {
    display: block;
    opacity: 1;
    animation-duration: 15s;
    animation-name: fade-middle;
    -moz-animation-duration: 15s;
    -moz-animation-name: fade-middle;
    -webkit-animation-duration: 15s;
    -webkit-animation-name: fade-middle;
    animation-iteration-count: infinite;
  }
  &.-fade-bottom {
    display: block;
    opacity: 1;
    animation-duration: 20s;
    animation-name: fade-bottom;
    -moz-animation-duration: 20s;
    -moz-animation-name: fade-bottom;
    -webkit-animation-duration: 20s;
    -webkit-animation-name: fade-bottom;
    animation-iteration-count: infinite;
  }
  @keyframes fade-top {
    0% {
      display: none;
      opacity: 0;
    }
    20% {
      display: none;
      opacity: 0;
    }
    40% {
      display: block;
      opacity: 1;
    }
    50% {
      display: block;
      opacity: 1;
    }
    80% {
      display: block;
      opacity: 0.8;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }
  @keyframes fade-middle {
    0% {
      display: block;
      opacity: 1;
    }
    20% {
      display: block;
      opacity: 1;
    }
    40% {
      display: none;
      opacity: 0;
    }
    50% {
      display: none;
      opacity: 0;
    }
    80% {
      display: block;
      opacity: 0.8;
    }
    100% {
      display: block;
      opacity: 1;
    }
  }
  @keyframes fade-bottom {
    0% {
      display: block;
      opacity: 0.2;
    }
    20% {
      display: none;
      opacity: 0;
    }
    40% {
      display: block;
      opacity: 0.8;
    }
    50% {
      display: block;
      opacity: 1;
    }
    80% {
      display: block;
      opacity: 0.8;
    }
    100% {
      display: none;
      opacity: 0;
    }
  }

}