.menu {
  &__fade {
    height: 100%;
    padding-top: 30px;
    font-family: Vernada;
    .-hover {
      &:hover {
        width: 100%;
        height: 15px;
        content: "";
      }
    }
  }
}